{% extends "base.html" %}

{% block html_title %}Play Chess{% endblock %}

{% block main_content %}
<div>
    <div class="text-center">
        <h4 class="display-3 pb-2">Per iniziare a giocare a scacchi premi il pulsante</h4>
    </div>
</div>


<div class="d-grid gap-2 col-6 mx-auto">
    <form class="row" action="/partita" method="post">
         <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-success"><a href="/partita">Gioca</a></button>
        </div>
    </form>

</div>
{% endblock %}