{% extends "./components/base.html"  %}

{% block html_title %}Play Chess{% endblock %}

{% block main_content %}

<div class="text-center">
    <h4>Per consultare le regole degli scacchi clicca il pulsante verde</h4>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/rules"><button type="button" class="btn btn-success">Regole</button></a>
</div>
<div class="text-center">
    <h4>Per iniziare una nuova partita premere il taso rosso</h4>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/game"><button type="button" class="btn btn-danger">Nuova partita</button></a>
</div>

{% endblock %}
