{% extends "base.html" %}

{% block html_title %}    <title>Credits</title>
{% endblock %}

{% block main_content %}
<div class="container">
    <table class="table table-condensed text-white">
        <thead>
            <tr>
                <th>PO</th>
                <th>SM</th>
                <th>Dev</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alice</td>
                <td>Gabriele</td>
                <td>Alice</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Emanuele</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Denis</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
