{% extends "./components/base.html" %}

{% block html_title %}L'Eredità | DAGEA™{% endblock %}

{% block main_content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% include "./components/searchbar.html" %}
<h1 style="text-shadow:
	  0 0 2px #fff,
	  0 0 10px var(--eredita);">L'Eredità</h1>
<div class="w-100 d-flex justify-content-between align-items-start">
	<div class="d-flex"> {% include "./components/cards.html" %} </div>
	<!-- Tab container -->
	<div class="d-flex flex-column border-1">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="leaderboard-tab" data-bs-toggle="tab" data-bs-target="#home"
					type="button" role="tab" aria-controls="home" aria-selected="true">Ghigliottina</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link bi-bar-chart-fill" id="sentiment-tab" data-bs-toggle="tab"
					data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
					aria-selected="false"></button>
			</li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="leaderboard-tab">
				<br>
				<div class="text-center">
					<h2>Ghigliottina</h2>
					<p class="subtitle">{{ solution.data }}</p>
					{% for sol in solution.indovina %}
					{% for word in sol %}
					<p>{{ word }}</p>
					{% endfor %}
					{% endfor %}
					<script>
						//0. Shows the spoiler containers only when all scripts are loaded.
						$('eredita.html').ready(function () {
							$(".spoiler").show();
						});

						//1, Hide spoiler
						$(".spoiler span").hide();
						//2, Add a button
						$(".spoiler").append("<button>La parola vincente è...</button>");
						//3, When button pressed
						$("button").click(function () {
							//3.1, Show spoiler next to the button clicked
							$(this).prev().fadeIn(1500);
							//3.2, Hide button
							$(this).hide();
						});

						//4. When the spoiler text is pressed
						$("span").click(function () {
							//4.1 Hide the spoiler text.
							$(this).hide().fadeOut;
							//4.2 Show the button
							$(this).next().fadeIn();
						});
					</script>
					<p class="spoiler">
						<span>{{ solution.vincente }}</span>
					</p>
					<!-- Classifica -->
					<h4>#ereditiers vincitori</h4>
					<canvas id="ereditiers-chart"></canvas>
				</div>

			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="word-cloud-tab"></div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="sentiment-tab">
				{% include "./components/sentimentalAnalysis.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}