{% extends "base.html" %}

{% block html_title %}Tweet Finder | DAGEA™{% endblock %}

{% block main_content %}
<!-- Title -->
<div class="container p-3">
    <div class="text-center">
        <h1 class="display-3 pb-2">GUI to search tweets</h1>
    </div>
</div>

<!-- Filter and search -->
<div class="container mt-4">
    <form class="row" action="" method="post">
        <!-- Search bar -->
        <div class="col-3">
            <div class="d-flex">
                <input required type="text" class="form-control me-1" placeholder="Search tweets" name="keyword"
                    id="keyword" value="{{ request.form['keyword'] }}">
                <button class="btn btn-primary bi-search" id="searchBtn" type="submit"></button>
            </div>
        </div>

        <!-- Research by -->
        <div class="col-4">
            <select required name="researchBy" class="form-select" aria-label="Default select example">
                {% for method in researchMethods %}
                {% if method.method == currentResearchMethod %}
                <option selected value="{{ method.method }}">{{ method.text }}</option>
                {% else %}
                <option value="{{ method.method }}">{{ method.text }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!-- Tweet limit -->
        <div class="col-2">
            <input required class="form-control" id="tweetLimitInput" value="{{ tweetLimit }}" min="0" max="200"
                type="number" name="tweetLimit">
            <small class="form-text text-muted">Choose the number of tweets to display</small>
        </div>

        <!-- Data range -->
        <div class="col">
            <select required name="currentRange" class="form-select" aria-label="Default select example">
                {% for option in dataRangeInputs %}
                {% if option.value == currentRange %}
                <option selected value="{{ option.value }}">{{ option.text }}</option>
                {% else %}
                <option value="{{ option.value }}">{{ option.text }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<br><br>

<!-- Cards tweets -->
<div class="container d-flex h-100 pt-5 text-dark">
    <div class="row justify-content-center mb-3">
        {% for tweet in tweets %}
        <div class="col-lg-4">
            <div class="card" style="width: 90%; margin: 2%">
                <!-- <img class="card-img-top" alt="Card image" src="{{ tweet.media }}" /> -->
                <div class="card-body">
                    <h4 class="card-title">{{ tweet.user }}</h4>
                    <p class="card-text">{{ tweet.tweet }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
