{% extends "base.html" %}

{% block html_title %}Play Chess{% endblock %}

{% block main_content %}
    <div class="conainer p-3">
        <form action="/give_move" method="POST" target="_blank">
            Mossa con casella iniziale e casella finale: <input type="text" name="move"><br><br>
            <input type="submit" value="Condividi mossa">
        </form>
    </div>
    <div class="conainer p-3">
        <form action="/get_move" method="POST" target="_blank">
            Account twitter (senza @): <input type="text" name="account"><br><br>
            <input type="submit" value="Ricevi mossa">
        </form>
    </div>
    <img src="../static/img/board.svg" class="center" style="width:600px;height:600px;display:block;margin-left:auto;margin-right:auto;">
    {% endblock %}