<div class="tab-pane show active fade mx-3 p-2" id="nav-Info" role="tabpanel" aria-labelledby="nav-Info-tab">
    <h3 class="my-3 display-6">Info</h3>
    <h4 class="my-3 display-7">Legend: Stats</h4>
    <ul>
        <li><b>Best/Worst climber:</b> The politician who has accumulated more/less points in a round or in the
            season.</li>
        <li><b>Best/Worst average:</b> The politician with the highest/lowest average score earned during the turns/
        </li>
        <li><b>Best/Worst player:</b> The politician who gained more/less points during the Fantacitorio's season.
        </li>
        <li><b>Best/Worst single score:</b> The politician who earned more/less points at once.</li>
        <li><b>Best/Worst Fantacitorio's turn (by points scored):</b> The Fantacitorio's turn where more/fewer
            points were earned.</li>
    </ul>
    <h4 class="my-3 display-7">About Fantacitorio</h4>
    <p>*Informazioni sul Fantacitorio*</p>
</div>