.myspoiler button{
  background: var(--bs-dark);
  border: none;
  border-radius: 5px;
  color: var(--bs-success);
  font-size: 24px;
  width: 100%;
  outline: var(--bs-success);
  cursor: pointer;
  z-index:1;
}
.myspoiler {
  display:none;
	background: var(--bs-success);
  height: 5%;
  /* margin: 0 auto 20px; */
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
}
.myspoiler span {
  color: #f3f3f3;
  cursor:pointer;
}